.container-1280 {
  max-width: 1280px;
  margin: auto;
  padding: 20px;
}

nav.small {
  font-size: 15px;

  a {
    color: #666;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
  .name {
    &:hover {
      cursor: pointer;
    }
  }
}

.product-detail-page {
  h1,
  h2,
  h3 {
    margin: 0;
  }
}
