.container-banner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;

  // .breadcrumb-wrapper {
  //   font-size: 14px;
  //   margin: 16px 0;
  //   color: #333;
  //   display: flex;
  //   gap: 6px;

  //   a {
  //     color: #007bff;
  //     text-decoration: none;

  //     &:hover {
  //       text-decoration: underline;
  //     }
  //   }

  //   .product-count {
  //     color: #999;
  //     font-weight: normal;
  //   }
  // }
}
