.product-specs {
  .accordion-button {
    font-size: 15px;
    padding: 12px;
  }
  table {
    font-size: 14px;
    td {
      padding: 10px;
    }
    td.bg-light {
      font-weight: 600;
      color: #333;
    }
  }
}
