.product-title-rating {
  padding-bottom: 20px;
  h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }

  .text-muted {
    font-size: 14px;
  }

  a {
    font-size: 14px;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    i {
      font-size: 14px;
    }
  }

  .bi-star-fill {
    color: #f59e0b;
    font-size: 14px;
  }

  button.btn {
    font-size: 10px;
    padding: 4px 10px;
    border-radius: 4px;

    i {
      font-size: 12px;
    }
  }
}
