.keywords-wrapper {
  width: 1280px;
  margin: 32px auto;

  background: #fff;
  border-radius: 8px;

  .title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .keywords-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .keyword {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 16px;
    background-color: #f2f4f5;
    font-size: 14px;
    color: #111;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      color: #000;
    }
  }
}
